.container {
    width:60%;
    height:60%;
    position:absolute;
    left:25%;
    top:20%;

}
h2,h4 {
    font-family: "Lucida Sans Typewriter", "Lucida Console", monaco, "Bitstream Vera Sans Mono", monospace;
    text-align:center;
}
h3 {
    font-family: "Lucida Sans Typewriter", "Lucida Console", monaco, "Bitstream Vera Sans Mono", monospace;
}
form {
    width:100%;
    height:100%;
    background:white;
    box-shadow: -2px -2px 5px 5px #fafafa;
}
table {
    width:100%;
    height:100%;
    padding-left:5px;
    padding-right:5px;
}
input[type='text'] {
    width:100%;
    border:2px solid #BDBDBD;
    border-radius:4px;
    font-size:20px;
    font-family: "Lucida Sans Typewriter", "Lucida Console", monaco, "Bitstream Vera Sans Mono", monospace;
}
tr {
    padding:1.5%;
}
button {
    width:100%;
    border:2px solid #00E676;
    border-radius: 4px;
    background: #00E676;
    font-size: 20px;
    color:white;
    font-family: "Lucida Sans Typewriter", "Lucida Console", monaco, "Bitstream Vera Sans Mono", monospace;

}
button[disabled] {
    border:2px solid #f44336;
    background:#f44336;
}
.question-container {
    width:100%;
    height:100%;
}
.timer-container {
    margin-left:15%;
}
span {
    padding-left: 3%;
    font-family: "Lucida Sans Typewriter", "Lucida Console", monaco, "Bitstream Vera Sans Mono", monospace;
}
input[type="radio"] {

}
.question-group-container {
    width:100%;
    height:100%;
    background:white;
    box-shadow: -2px -2px 5px 5px #fafafa;
}
